pipeline/ls_pipline.json
{
	"name": "ls_pipline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.input_lst",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_append_id",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append_id",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_append_name",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "act_set_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "id",
					"value": {
						"value": "@variables('append_id')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_set_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "name_lst",
					"value": {
						"value": "@variables('append_name')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"input_lst": {
				"type": "array",
				"defaultValue": [
					{
						"id": 1,
						"name": "Ram Patil"
					},
					{
						"id": 2,
						"name": "Shyam Patil"
					},
					{
						"id": 3,
						"name": "govind raina"
					}
				]
			}
		},
		"variables": {
			"id": {
				"type": "Array"
			},
			"name_lst": {
				"type": "Array"
			},
			"append_id": {
				"type": "Array"
			},
			"append_name": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}